<div class="container">
  <a class="btn btn-outline-primary" href="/" role="button">Back</a>
<br>
<br>
      <h3>Merci de rempir le formulaire pour crear un nouveau potin 😉 </h3>
      <br>
 <form action="/create" method="POST">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <fieldset>
    <legend>Potin registration</legend>
  First name:<br>
  <input type="text" name="first_name" placeholder="nasim"><br>
  Last name:<br>
  <input type="text" name="last_name" placeholder="Ibrahimi"><br>
  Title:<br>
  <input type="text" name="title" placeholder="Ibrahimi"><br>
  Votre Potin:<br>
  <textarea  type="text" name="content"  rows="2" cols="50" placeholder="Enter your message"></textarea><br>
  <input type="submit" value="Submit">
  </fieldset>
</form> 