<div class="container">
<h2><%= @potin.title %></h2>
<p><%= @potin.content %><br> la date de creation : <%= @potin.created_at%><br>
  <%= link_to("la Page de l'auteur", "/gossip/#{@potin.id}/#{@potin.user_id}")%></p>
</div>